<div class="card mb-4">
  <figure>
    <img [src]="myUser.image" class="card-img-top" [alt]="myUser.first_name">
  </figure>
  <div class="card-body text-center">
      <h6 class="card-title">{{myUser.first_name}} {{myUser.last_name}}</h6>
      <button class="btn btn-primary m-1" [routerLink]="['/user',myUser.id]"><i class="fa-solid fa-magnifying-glass"></i></button>
      <button class="btn btn-primary m-1" [routerLink]="['/updateuser', myUser.id]"><i class="fa-solid fa-arrows-rotate"></i></button>
      <button class="btn btn-primary m-1"><i class="fa-solid fa-trash-can"></i></button>
  </div>
</div>